.details {
  margin: 10px 0;
  padding: 10px;
  background: #6d3d6d;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    text-decoration: line-through;
  }

  &__title {
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
  }

  &__author {
    font-size: 0.9em;
    color: #ddd;
  }
}
